@import "../styles.scss";

.container {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 144px;
  padding-right: 144px;

  &-searchBox {
    height: 40px;
    width: 288px;
    background-color: #a7a7a7;
    display: flex;
    align-items: center;
    border-radius: 5px;
    @media screen and (max-width: 960px) {
      width: 120px;
    }

    &-image {
      width: 18px;
      height: 18px;
      margin-left: 27px;
    }
    &-input {
      background-color: #a7a7a7;
      border: none;
      margin-left: 15px;
      &::placeholder {
        color: black;
      }
      @media screen and (max-width: 960px) {
        width: 50px;
      }
    }
  }
  &-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 960px) {
      display: none;
    }

    &-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 25px;
      &-menuIcon {
        display: none;
        @media screen and (max-width: 960px) {
          display: block;
          width: 25px;
          height: 20px;
          margin-left: 5px;
          cursor: pointer;
        }
      }
      &-image {
        width: 18px;
        height: 18px;
      }
      &-textdiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        &-text {
          font-size: $smallFont;
        }
        &-image {
          width: 7px;
          height: 6px;
          margin-left: 3px;
          margin-top: 3px;
        }
      }
    }

    &-line {
      height: 40px;
      width: 1px;
      background-color: #a7a7a7;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}
